@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div id="container-form" class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.First_name" class="form-control" autocomplete="first-name" aria-required="true" />
                <label asp-for="Input.First_name"></label>
            
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Last_name" class="form-control" autocomplete="last-name" aria-required="true" />
                <label asp-for="Input.Last_name"></label>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <div class="form-check">
                    <input type="checkbox" asp-for="Input.IsCustomer" class="form-check-input"  />
                    <label class="form-check-label" asp-for="Input.IsCustomer"></label>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="Input.IsOrganizer" class="form-check-input" onchange="Checked()" />
                    <label class="form-check-label" asp-for="Input.IsOrganizer"></label>
            
                </div>
            </div>
           
            <div class="form-floating mb-3">
                <input asp-for="Input.Organization_name" class="form-control" aria-required="true" />
                <label asp-for="Input.Organization_name"></label>
            </div>
          
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    

}
