
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="send-request">
    <h1>Your request is send</h1>

    <div class="back-btn">
        <a class="btn btn-success" type="button" asp-controller ="Event" asp-action="Index"> Back to home </a>
    </div>

</div>


