body {
    background-color: #E8F1F5;
}

.content {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

.main-content {
    flex: 1;
    
}

.main-footer {
    height: 100px;
    background-color: #004A7C;
    color: #FAFAFA;

}

.container-footer {
    display: flex;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link{
    color: #FAFAFA;
}

.navbar-light .navbar-brand {
    color: #FAFAFA;
}
.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.header-main {
    background-color: #004A7C;
    color: #E8F1F5;
}

.navbar-brand {
    font-family: 'Libre Barcode 39 Text';
    font-size: 3rem;
}
.nav-item {
  
    color: #1B1A17;
}
body {
    font-family: 'Montserrat';
    
}

.card, .accordion {
    border-radius: 1rem;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 0 15px 0 rgb(0 0 0 / 2%);
}

.card-title {
    font-weight: bold;
}

.confirmation-info {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.card {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    flex-direction: column;
}

#login-main, #logout {
    color: #FAFAFA;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

#manage {
    font-size: 1.3rem;
    color: #D8D2CB;
}

#nav-wrapper {
    width: 100%;
}

.user-wrapper {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#register, #login {
    background-color: #398AB9;
    color: #FAFAFA;
}

.join-btn, .find-event-btn, .add-btn, #login-submit, #registerSubmit{
    background-color: #398AB9;
    color: #FAFAFA;
}

.add-container {
    max-width: 500px;
}
